html, head, body {
    margin: 0;
    overflow: hidden;
}

h1 {
    margin: 0;
    padding: 0;
}

.image-container {
    background-image: url('./content/Desktop.png');
    background-size: cover;
    background-color: transparent;
    min-height: 100dvh;
    min-width: 100dvw;
    display: flex;
    flex-flow: column;
}

@media screen and (max-width: 768px) {
    .image-container {
        background-image: url(./content/Mobile.png);
        background-color: transparent;
        background-color: transparent;
        min-height: 100dvh;
        min-width: 100dvw;
        display: flex;
        flex-flow: column;
    }
}

.desktop-space {
    display: flex;
    top: 0;
    width: 100%;
    flex: 2 1 0;
    position: relative;
    justify-content: center;
}

.nav-space {
    display: flex;
    flex: 0 1 auto;
    margin: 0px;
    z-index: 100;
    position: relative;
}

.navbar {
    background-color: hsl(299, 24%, 58%);
    border-top: 4px, solid, hsl(299, 17%, 48%);
    display: flex;
    flex-direction: row;
    bottom: 0;
    height: fit-content;
    width: 100%;
    margin: 0px;
}


.home-container {
    align-self: flex-start;
    margin: 5px;
    height: max-content;
}

.task-container {
    /* display: flex; */
    padding: relative;
    flex: 1 1 0;
    margin: 0px;
    align-self: center;
    height: 52px;
    max-height: 52px;
    width: 100%;
    border: 1px solid hsl(299, 17%, 48%);
    overflow-x: scroll;
    flex-direction: column;

}

.time-container {
    align-self: flex-end;
    flex: 0 1 auto;
    margin: 5px;
    height: 48px;
    border: 1px solid hsl(299, 17%, 48%);
    align-items: center;
    line-height: 48px;
    padding: 2px;
}

.centext {
    border: 2px, solid, hsl(299, 17%, 38%);
    line-height: 48px;
    display: block;
    align-self: center;
}

.home-button {
    padding: 6px;
    width: 50px;
    height: 50px;
    background-image: url("content/home_24.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: transparent;
}

.home-button:hover {
    background-color: gray;
}

.home-menu {
    display: none;
    position: absolute;
    z-index: 100;
    left: 0rem;
    bottom: 0rem;
    padding: 10px;
    width: 400px;
    height: 500px;
    border: solid 4px hsl(299, 17%, 28%);
    background-color: hsl(299, 17%, 48%);
    cursor: pointer;
}

.pfp-zone {
    background-color: pink;
    position: absolute;
    right: 0rem;
    top: 0rem;
    width: 160px;
    height: 160px;
    margin-right: 10px;
    margin-top: 10px;
    border: 3px solid hsl(299, 17%, 28%);
    background-image: url("content/pfp_b.png");
    background-size: 170px 170px;
    border-radius: 50%;
    background-position: -10px -5px;
    
}

.info-zone {
    background-color: transparent;
    position: absolute;
    right: 0rem;
    width: 160px;
    height: 200px;
    margin-top: 180px;
    margin-right: 10px;
    border: 2px solid hsl(299, 17%, 28%);
    display: flex;
    flex-flow: column;
}

.button-zone {
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    width: 160px;
    height: 48px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 2px solid hsl(299, 17%, 28%);
    align-items: center;
    justify-content: center;
    display: flex;
}

.link-zone {
    /* background-color: brown; */
    border: 2px solid hsl(299, 17%, 28%);
    display: flex;
    flex-flow: column;
    position: absolute;
    left: 0rem;
    bottom: 0rem;
    width: 220px;
    height: 495px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.styling {
    list-style-type: none;
    margin: 0px;
    padding: 3px;
    line-height: 30px;
    background-color: hsl(299, 17%, 50%);
    overflow-y: scroll;
    scrollbar-color: hsl(299, 17%, 28%) hsl(299, 17%, 48%);
    scrollbar-width: thin;
}
.styling:nth-child(even) {
    background-color: hsl(299, 17%, 48%);

}
.styling.a:hover{
    background-color: rgba(100, 149, 237, .2);
    border: 2px solid rgba(100, 149, 237, .15);
}

.styling.a {
    display: block;
}

.running-prog {
    display: none;
    flex-flow: column;
    position: absolute;
    z-index: 90;
    width: 700px;
    height: 500px;
    border: solid 4px hsl(321, 17%, 56%);
    background-color: white;
    cursor: pointer;
    align-self: center;
}

.running-prog.term {
    border: solid 4px hsl(0, 0%, 21%);
}

.running-term {
    background-color: black;
    color: chartreuse;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-y: scroll;
    /* overflow-x: hidden; */
}

.running-ducks {
    background-color: hsla(322, 93%, 82%, 0.233);
    position: relative;
    flex-grow: 1;
    width: 100%;
    margin: 0;
    overflow-y: scroll;
    /* overflow-x: hidden; */
}

.licon {
    display: inline-flexbox;
    float: left;
    margin: 3px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
}

.lspan {
    position: relative;
    margin: 3px;
}

.licon.github {
    background-image: url("content/github_24.png");
}
.licon.instagram {
    background-image: url("content/insta_24.png");
}
.licon.linkedin {
    background-image: url("content/lkdin_24.png");
}
.licon.pixelfed {
    background-image: url("content/pixelfed_24.png");
}
.licon.website {
    background-image: url("content/Favicon.png");
}
.licon.art {
    background-image: url("content/art_24.png");
}
.licon.cv {
    background-image: url("content/cv_24.png");
}
.licon.duck {
    background-image: url("content/duck_24.png");
}
.licon.term {
    background-image: url("content/term_24.png");
}
.licon.file {
    background-image: url("content/file_24.png");
}
.licon.music {
    background-image: url("content/music_24.png");
}
.licon.plant {
    background-image: url("content/plant_24.png");
}
.licon.email {
    background-image: url("content/email_24.png");
}
.licon.trash {
    background-image: url("content/trash_24.png");
}


.running-icons {
    display:block;
    position: relative;
    float: left;
    margin: 2px;
    width: 48px;
    height: 48px;
    flex: 1 1 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: transparent;
}

.running-icons:hover {
    background-color: gray;
}

.running-icons.art {
    background-image: url("content/art_24.png");
}
.running-icons.cv {
    background-image: url("content/cv_24.png");
}
.running-icons.duck {
    background-image: url("content/duck_24.png");
}
.running-icons.email {
    background-image: url("content/email_24.png");
}
.running-icons.file {
    background-image: url("content/file_24.png");
}
.running-icons.music {
    background-image: url("content/music_24.png");
}
.running-icons.plant {
    background-image: url("content/plant_24.png");
}
.running-icons.term {
    background-image: url("content/term_24.png");
}
.running-icons.trash {
    background-image: url("content/trash_24.png");
}

.restart {
    position: flexbox;
    background-color: transparent;
    height: 32px;
    width: 32px;
    margin: 8px;
    margin-right: 0px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size:contain;
    background-image: url("content/restart_16.png");
    background-position: 0px 1px;
}
.restart:hover {
    background-color: grey;
}

.sleep {
    position: flexbox;
    background-color: transparent;
    height: 32px;
    width: 32px;
    margin: 8px;
    margin-right: 0px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size:contain;
    background-image: url("content/sleep_16.png");
    background-position: 0px 1px;
}
.sleep:hover {
    background-color: grey;
}

.power {
    position: flexbox;
    background-color: transparent;
    height: 32px;
    width: 32px;
    margin: 8px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size:contain;
    background-image: url("content/power_16.png");
    background-position: 0px 2px;
}
.power:hover {
    background-color: grey;
}

.dark-mode-toggle {
    position: flexbox;
    /* background-color: transparent; */
    height: 32px;
    width: 32px;
    margin: 8px;
    margin-left: 0px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 125%;
    padding: 2px;
    background-position: -3px -2px;
}
.dark-mode-toggle:hover {
    background-color: grey;
}

.dark.dark-mode-toggle {
    background-image: url("content/night_16.png");
}

.light.dark-mode-toggle {
    background-image: url("content/day_16.png");
}

.line {
    display: flexbox;
    width: 90%;
    margin: 4px;
    border-bottom: 2px solid hsl(299, 17%, 28%);
    height: 10 px;
    align-self: center;
}

.info-span {
    display: flexbox;
    margin-top: 4px;
}

.head {
    display: flex;
    width: 100%;
    height: 44px;
    top: 0rem;
    flex-flow: row;
    position: sticky;
}

.common.head {
    background-color: hsla(322, 93%, 82%, 0.67);
    border-bottom: 2px solid hsl(321, 17%, 56%);
}

.term.head {
    background-color: hsl(0, 0%, 53%);
    border-bottom: solid 2px hsl(0, 0%, 21%);
}

.button-head {
    display: flexbox;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 4px;
    background-size: cover;
    background-repeat: no-repeat;;
    margin-right: 5px;
}

.button-head.min {
    background-image: url("content/min_16.png");
}

.button-head.max {
    background-image: url("content/max_16.png");
}

.button-head.close {
    background-image: url("content/close_16.png");
}
.button-head.download {
    background-image: url("content/download_16.png");
    background-position: 2px 0px;
    background-size: 24px 24px;

}

.span-title {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    flex: 1 1 0;
}

.desktop-full {
    width: 90px;
    height: 120px;
    margin: 5px;
    display: flex;
    z-index: 90;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    flex-flow: column;
    position: absolute;

}

.desktop-full:hover {
    background-color: rgba(100, 149, 237, .2);
    border: 2px solid rgba(100, 149, 237, .15);
}

.desktop-icon {
    width: 90px;
    height: 90px;
}

.desktop-icon.art {
    content: url("content/art_32.png");
}
.desktop-icon.cv {
    content: url("content/cv_32.png");
}
.desktop-icon.duck {
    content: url("content/duck_32.png");
}
.desktop-icon.email {
    content: url("content/email_32.png");
}
.desktop-icon.file {
    content: url("content/file_32.png");
}
.desktop-icon.music {
    content: url("content/music_32.png");
}
.desktop-icon.plant {
    content: url("content/plant_32.png");
}
.desktop-icon.term {
    content: url("content/term_32.png");
}
.desktop-icon.trash {
    content: url("content/trash_32.png");
}

.desktop-icon-text {
    display: flexbox;
    /* position: relative; */
    justify-content: flex-end;
    justify-self: center;
    color: white;
    align-self: center;
}

.sleep-overlay {
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 200;
    position: fixed;
    opacity: 1;
    top: 0px;
    left: 0px;
    animation: fadeIn;
    animation-duration: 1s;
}

.sticky-footer {
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    border-top: 2px solid hsl(321, 17%, 56%);
    background-color: hsla(322, 93%, 82%, 0.233);
    height: 40px;
    position: sticky;
    bottom: 0rem;
    padding: 5px;
    vertical-align: middle;
    flex-flow: row;
}

.submit-duck {
    position: flexbox;
    float: right;
    border: 50%;
    height: 40px;
    width: 120px;
    align-self: center;
    align-content: center;
    word-wrap: normal;
    background-color: hsla(59, 100%, 50%, 0.233);
}

/* .duck-bio {
    height: 150px;
} */