html, head, body {
    margin: 0;
    overflow: hidden;
}

h1 {
    margin: 0;
    padding: 0;
}

.image-container {
    background-image: url('./content/Desktop.png');
    background-size: cover;
    background-color: transparent;
    min-height: 100dvh;
    min-width: 100dvw;
}

@media screen and (max-width: 768px) {
    .image-container {
        background-image: url(./content/Mobile.png);
        background-color: transparent;
        background-color: transparent;
        min-height: 100dvh;
        min-width: 100dvw;
    }
}

.navbar {
    background-color: hsl(299, 24%, 58%);
    border: 4px, solid, hsl(299, 17%, 48%);
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    height: fit-content;
    width: 100%;

}

.home-container {
    display: flexbox;
    flex: 0 1 1;
    margin: 5px;
    height: max-content;
}

.task-container {
    display: flexbox;
    flex: 2 1 0;
    margin: 0px;
    align-self: center;
    background-color: #22ff22;
    justify-items: center;
    justify-content: center;
}

.time-container {
    display: flexbox;
    flex: 0 1 auto;
    margin: 5px;
    height: 48px;
    border: 1px solid hsl(299, 17%, 48%);
    align-items: center;
    direction: column;
    line-height: 48px;
    padding: 2px;
}

.centext {
    border: 2px, solid, hsl(299, 17%, 38%);
    line-height: 48px;
    display: block;
    align-self: center;
}

.home-button {
    padding: 4px;
    width: 50px;
    height: 50px;
    background-image: url("content/home_24.png");
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    border: transparent;
}

.home-button:hover {
    background-color: gray;
}

.home-menu {
    display: none;
    position: absolute;
    z-index: 100;
    bottom: 64px;
    left: 0rem;
    padding: 10px;
    width: 400px;
    height: 500px;
    border: white solid 3px;
    background-color: blue;
    cursor: pointer;
}